services:
  nextjs-frontend:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    init: true
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - ../src:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
