name: CI Pipeline

# setup of a ci-cd piepline so that whenber push on main branhc
# installs the required stuff (instal npm dependencies) and build
# no tests right now (and then deploys to vercel)
on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: "18"

            - name: Cache Node Modules
              uses: actions/cache@v3
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Install Dependencies
              run: npm install

            - name: Build App
              run: npm run build

    deploy:
        needs: build-and-test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Install Vercel CLI
              run: npm install -g vercel

            - name: Export Vercel env vars
              env:
                  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
                  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
              run: |
                  echo "VERCEL_ORG_ID=$VERCEL_ORG_ID" >> $GITHUB_ENV
                  echo "VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID" >> $GITHUB_ENV

            - name: Link Vercel Project
              run: vercel link --project $VERCEL_PROJECT_ID --org $VERCEL_ORG_ID

            - name: Deploy to Vercel
              env:
                  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
              run: vercel --prod --token=$VERCEL_TOKEN
